<h1>Sign Up</h1>
Already have an account? <%= link_to "Log In", sign_in_path %>
<%= form_with model: @user, url: sign_up_path do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <div class="w-25">
    <div class="mb-3">
      <%= form.text_field :email, class: "form-control", placeholder: "JohnDoe@example.com" %>
    </div>
    <div class="mb-3">
      <%= form.text_field :name, class: "form-control", placeholder: "John Doe" %>
    </div>
    <div class="mb-3">
      <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
    </div>
    <div class="mb-3">
      <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
    </div>
    <div class="mb-3">
      <%= form.submit "Sign Up", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>